version: '3.7'
services:
    nginx:
        container_name: nginx
        image: nginx:latest
        volumes:
            - {type: bind, source: ./nginx/nginx.conf, target: /etc/nginx/nginx.conf}
        ports:
            - {target: 80, published: 80, protocol: tcp}
        depends_on:
            - client
            - server
    server:
        image: localhost:5000/mpmistry/playground:latest
        build:
            context: ./server
            dockerfile: Dockerfile
        ports:
            - {target: 8080, protocol: tcp}
    client:
        image: localhost:5000/mpmistry/react:latest
        build:
            context: ./client
            dockerfile: Dockerfile
        ports:
            - {target: 3000, protocol: tcp}
        environment:
            - REACT_APP_SERVICE_HOST=${REACT_APP_SERVICE_HOST}
    mongo:
        image: mongo
        ports:
            - '27017:27017'
    mongo-seed:
        image: fvilers/mongo-seed:1.0.0
        environment:
            - MONGO_HOST=mongo
            - MONGO_PORT=27017
        volumes:
            - ./data:/data
        command:
            - 'mongoimport --host mongo --port 27017 --db test --mode upsert --type json --file /data/account.json --jsonArray'
        deploy:
            restart_policy: {condition: on-failure}
        depends_on:
            - mongo
